<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SampleAppJenkinsTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7153CB0D1F38A19A003188EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7153CB261F38A19A003188EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7153CB311F38A19A003188EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
